/*----- Accordion -----*/
.accordion,
.accordion * {
box-sizing:border-box;
}
.accordion {
overflow:hidden;
box-shadow:0px 1px 3px rgba(0,0,0,0.25);
border-radius:3px;
background:#99e6ff;
}
/*----- Section Titles -----*/
.accordion-section-title {
width:100%;
padding:15px;
display:inline-block;
border-bottom:1px solid #1a1a1a;
background:#00e2e6;
transition:all linear 0.15s;
/* Type */
font-size:1.200em;
text-shadow:0px 1px 0px #1a1a1a;
color:grey;
}
.accordion-section-title.active,
.accordion-section-title:hover {
background:#4c4c4c;
color:#fff;
/* Type */
text-decoration:none;
}

/*----- Section Content -----*/
.accordion-section-content {
padding:15px;
display:none;
}